<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>NDB Todo App</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div id="app">
      <div class="todo-page">
        <form class="todo-form" @submit.prevent="addNewTodoItem">
          <input v-model="newTodoItem" type="text" />
          <button>Add</button>
        </form>
        <ol class="todo-list">
          <li v-for="todo in todos">
            <label>
              <input type="checkbox" v-on:change="toggle(todo)" v-bind:checked="todo.done"/>

              <del v-if="todo.done">{{ todo.text }}</del>
              <ins v-else>{{ todo.text }}</ins>
            </label>
          </li>
        </ol>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="script.js"></script>
  </body>
</html>
